<!-- <div *ngFor = "let crib of cribs">
  <h3>{{ crib.address }}/h3>
</div> -->

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <label for="sort-field">Sort By</label>
            <select 
              class="form-control" 
              name="sort-field" 
              id="sort-field" 
              [(ngModel)]="sortField">
              <option 
                *ngFor="let field of sortFields" 
                [value]="field">
                  {{ utilService.capitalize(field) }}
                </option>
            </select>
          </div>
          </div>
          </div>
    </div>
    <div *ngFor="let crib of cribs | sortBy: [sortField]" >
      
      <app-crib-card [crib]="crib" class="col-4 col"></app-crib-card>
    </div>
   
      
  </div>
 
