.images-crib{
    height: 250px;
    width: 340px;
    margin-bottom: 10px;
}

.label{
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    background-color: rgb(70, 70, 221);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 3px;
}


.col{
    margin-top: 25px;
    margin-bottom: 25px;
   
}


.img-thumbnail{
    min-height: 450px;
    margin-right: 10px;
}